################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteForum.SqlRepository/obj/Debug
/SiteForum.EFRepository.Tests/obj/Debug
/SiteForum.SqlRepository.Tests/obj/Debug
/SiteForum/obj/Debug
/SiteForum.EFRepository/obj/Debug
/.vs/SiteForum/v14/.suo
